services:
  app:
    build: .
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      - APP_ENV=local
    depends_on:
      - mysql
      - redis
    networks:
      - laravel

  queue:
    build: .
    container_name: laravel_queue
    working_dir: /var/www
    command: php artisan queue:work --tries=3 --timeout=120
    volumes:
      - ./:/var/www
    depends_on:
      - app
      - redis
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8
    container_name: laravel_mysql
    environment:
      MYSQL_DATABASE: kevin_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  redis:
    image: redis:latest
    container_name: laravel_redis
    ports:
      - "6380:6379"
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data:
